{% extends 'index.html' %}

{% block content %}
<h2>Livros</h2>

<a href="/livros/novo/" class="btn btn-primary mb-3">Novo Livro</a>

<table class="table table-hover">
<tr>
<th>Título</th>
<th>Autor</th>
<th>Qtd</th>
<th>Ações</th>
</tr>

{% for livro in livros %}
<tr>
<td>{{ livro.titulo }}</td>
<td>{{ livro.autor }}</td>
<td>{{ livro.quantidade }}</td>

 <td>
        {% for emp in livro.emprestimo_set.all %}
            {% if emp.usuario == user and not emp.data_devolucao %}
                Emprestado em: {{ emp.data_emprestimo|date:"d/m/Y" }} <br>
                Devolvido em: {{ emp.data_devolucao|date:"d/m/Y" }}
            {% endif %}
        {% endfor %}
    </td>
<td>
        {% if user.is_staff %}
            <a href="/livros/editar/{{ livro.id }}">Editar</a>
            <a href="/livros/excluir/{{ livro.id }}">Excluir</a>
        {% else %}
            <a href="/emprestar/?livro={{ livro.id }}">Reservar</a>

            {% for emp in livro.emprestimo_set.all %}
                {% if emp.usuario == user and not emp.data_devolucao %}
                    <a href="/devolver/{{ livro.id }}">Devolver</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}
