{% extends 'index.html' %}

{% block content %}
<h2>Livros</h2>

<a href="/livros/novo/" class="btn btn-primary mb-3">Novo Livro</a>

<table class="table table-hover">
<tr>
<th>Título</th>
<th>Autor</th>
<th>Qtd</th>
<th>Ações</th>
</tr>

{% for livro in livros %}
<tr>
<td>{{ livro.titulo }}</td>
<td>{{ livro.autor }}</td>
<td>{{ livro.quantidade }}</td>
<td>
    <a href="/livros/editar/{{ livro.id }}/" class="btn btn-warning btn-sm">Editar</a>
    <a href="/livros/excluir/{{ livro.id }}/" class="btn btn-danger btn-sm">Excluir</a>
</td>
</tr>
{% endfor %}
</table>

{% endblock %}
