{% extends 'index.html' %}

{% block content %}



<h2>Livros</h2>

<a href="/livros/novo/" class="btn btn-primary mb-3">
    Novo Livro
</a>

<table class="table table-hover">

    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>

            <th class="qtd-coluna">
                Qtd
            </th>

            <th>
                Empréstimo
            </th>

            <th class="acoes-coluna">
                Ações
            </th>
        </tr>
    </thead>

    <tbody>

    {% for livro in livros %}

    <tr>

        <td>{{ livro.titulo }}</td>

        <td>{{ livro.autor }}</td>

        <td class="qtd-coluna">
            {{ livro.quantidade }}
        </td>

        <td>
            {% for emp in livro.emprestimo_set.all %}
                {% if emp.usuario == user and not emp.data_devolucao %}

                    Emprestado em:
                    {{ emp.data_emprestimo|date:"d/m/Y" }}

                {% endif %}
            {% endfor %}
        </td>

        <td class="acoes-coluna">

            {% if user.is_staff %}

                <a
                    href="/livros/editar/{{ livro.id }}"
                    class="btn btn-warning btn-sm"
                >
                    Editar
                </a>

                <a
                    href="/livros/excluir/{{ livro.id }}"
                    class="btn btn-danger btn-sm"
                >
                    Excluir
                </a>

            {% else %}

                {% if livro.quantidade > 0 %}

                    <a
                        href="/emprestar/?livro={{ livro.id }}"
                        class="btn btn-success"
                    >
                        Reservar
                    </a>

                {% else %}

                    <span class="badge bg-danger">
                        Indisponível
                    </span>

                {% endif %}

            {% endif %}

        </td>

    </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}