{% extends 'index.html' %}

{% block content %}

<div class="row">

    <div class="col-md-4">
        <div class="card-dashboard">
            <h5>Total de Livros</h5>
            <div class="numero azul">{{ total_livros }}</div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-dashboard">
            <h5>Disponíveis</h5>
            <div class="numero verde">{{ disponiveis }}</div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-dashboard">
            <h5>Emprestados</h5>
            <div class="numero vermelho">{{ emprestados }}</div>
        </div>
    </div>

</div>

{% endblock %}